<%- include("./partials/head") %>
    <%- include("./partials/header") %>

        <!-- Div container, detalhando o produto a ser apresentado -->
        <div class="container">
            <div class="cart-shopping">
                <h1 class="title-cart-shopping">Meu carrinho</h1>
                <!-- Fechamento da div cart-shopping -->
            </div>
            <button type="button" class="btn keep-buying"><a href="../">Continuar Comprando</a></button>
            <!-- Criando a tabela com a lista dos produtos -->
            <form method="post">
                
                <table class="table table-hover table-cart">
                    <thead>
                        <tr class="table-th-cart">
                            <th scope="col">#</th>
                            <th scope="col">Produto</th>
                            <th scope="col">Qtde</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Valor Total</th>
                            <th scope="col">Remover</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td name="product_name"><%= produto.name %></td>
                            <td>
                                <select name="qtde" id="primeiro">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                
                        </td>
                        <!-- <td>2</td> -->
                        <td name="product_price">R$  <%=produto.price%></td>
                        <td name="valor_total_item">R$ <%=produto.price%></td>
                        <td class="title-remove">
                            <a href="#" class="remove">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </td>
                    </tr>
                    <tr class="table-total">
                        <th class="total-th-cart-shopping">Total à pagar:</th>
                        <td class="total-td-cart-shopping" colspan="5">
                            <span class="item-td-cart-shoopping" name="total">R$ <%=produto.price%></span>
                        </td>
                    </tr>
                    <tr class="buying">
                        <td colspan="6" class="finished-buying">
                            <a href="/product/checkout-page">Finalizar Compra</a>
                         </td>
                    </tr>
                </tbody>
            </table>
        </form>
            <!-- Fechamento div container -->
        </div>
        
        <%- include("./partials/footer") %>