<%- include("./partials/head")  %> 
<%- include("./partials/header-adm") %>

<main id="main-product-adm-delete">
  <div class="container">
    <div class="margin-left-product-adm">
      <h1 class="title-delete-product-adm">Deletar Produto</h1>
      <% if(locals.product) { %> 
        <div>
          <img src="<%= product.urlImage %>"><br>
          <span>Modelo: <%= product.name %> </span><br>
          <span>Marca: <%= product.brand %> </span><br>
          <span>Categoria: <%= product.category %> </span><br>
          <span>Estoque: <%= product.inventory %> </span>
        </div>
        <form action="/product-adm/product-delete/<%= product.id %>?_method=delete" method="post">
          <h2 class="question-delete-product-adm">Deseja deletar esse produto?</h2>
          <a href="/product-adm"><button type="button" class="btn btn-danger">Não</button></a>
          <button type="submit" class="btn btn-success">Sim</button>
        </form>
      <% } else { %>
        <h2>Produto não encontrado</h2>
      <% } %>
    </div>
  </div>
</main>

<%- include("./partials/footer") %>