<%- include("./partials/head")  %> 
<%- include("./partials/header") %>

    <!-- Imagem do card - Produto a ser apresentado -->

    <div class="card card-product-banner">
        <img class="card-img-bottom card-image" src="/img/01-placaMaeAourusB550M/02MOBOGigabyte.jpg" alt="Imagem de capa do card">
    </div>

    <!-- Div container, detalhando o produto a ser apresentado -->
    <div class="container">
        <!-- Nav, contendo a trilha de em qual página está sendo acessada. -->
        <nav aria-label="breadcrumb">
            <!-- Caminho de navegação -->
            <ol class="breadcrumb navigation-path">
                <!-- página de hardware -->
                <li class="breadcrumb-item"><a href="#">Hardware</a></li>
                <!-- página de placas mães -->
                <li class="breadcrumb-item"><a href="#">Placa Mãe</a></li>
                <!-- produto atual para compra -->
                <li class="breadcrumb-item active" aria-current="page">AMD-AMD Ryzen</li>
            </ol>
        </nav>
        <!-- Contendo o embrulho do produto -->
        <div class="wrap-product">
            <!-- Imagem do produto a ser comprado -->
            <article class="row buy-product">
                <!-- inserindo a imagem com a tag produto, ocupando 7 colunas -->
                <figure class="col-md-7">
                    <!-- adicionando a imagem. **Inserindo o tamanho proisório na imagem aqui no HTML** -->
                    <img class="product-image" src="<%=produto.urlImage%>" alt="Imagem da placa mãe Aourus B550M" width="484px" height="484px">
                </figure>

                <!-- Sessões do nosso artigo. Aqui, a nossa coluna irá ocupar 5 -->
                <section class="col-md-5 product-detail">
                    <!-- Artigo que iremos separar o preço, maiores detalhes, etc -->
                    <article class="content-product">
                        <!-- Título do produto -->
                        <h1><%= produto.category %> </h1>
                        <p id="code-product"><%=produto.codigo%></p>
                    </article>
                    <!-- Artigo com o preço do produto -->
                    <article class="price-product">

                        <!-- Preço em destaque -->
                        <strong>
                            R$ <%= produto.price %>.
                            <!-- Deixando a informação em uma linha, quebrando ela de forma blocante -->
                            <span class="d-block">à vista com 15% de desconto no boleto ou pix</span>
                        </strong>
                        <!-- Formulário para a finalização da compra -->
                        <form action="" method="post">
                            <!-- Selecionando a quantidade -->
                            <div class="form-group">
                                <label for="product-quantity-item">Quantidade:</label>
                                <input class="form-control" type="number" name="quantity-item" id="product-quantity-item">
                            </div>
                            <!-- Enviando o formulário -->
                        </form>
                        <a href="cart-shopping"><button type="submit" class="btn btn-success col-md-12">Comprar</button></a>
                    </article>
                </section>
            </article>
            <!-- Fim da classe wrap-produto -->
        </div>

        <!-- Características do produto - detalhes -->
        <div class="product-features">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Características Gerais
                            </button>
                        </h5>
                    </div>
                    <!-- Div responsável aparecer ao ser clicado -->
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <!-- Conteúdo do corpo do card -->
                            <div class="card-group">
                                <div class="card col-md-6 card-white">
                                    <div class="card-body">
                                        <h5 class="card-title">PLACA MÃE GIGABYTE B450 AORUS M, CHIPSET B450, AMD AM4,
                                            MATX, DDR4</h5>
                                        <p class="card-text">A série GIGABYTE 400 maximiza o potencial do seu PC com a
                                            tecnologia AMD StoreMI. O StoreMI acelera os dispositivos de armazenamento
                                            tradicionais para reduzir o tempo de inicialização e aprimorar a experiência
                                            geral do usuário.</p>
                                    </div>
                                </div>
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-white">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/04-gigabyteB450AorusM01.jpg" alt="Imagem da placa mãe Aourus">
                                </div>
                                <!-- Fechamento da div card-group -->
                            </div>

                            <!-- Conteúdo do corpo do card-black -->
                            <div class="card-group">
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-black">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/05-GigabyteB450AorusM02.jpg"
                                        alt="Imagem dos componentes da placa mãe">
                                </div>
                                <div class="card col-md-6 card-black">
                                    <div class="card-body">
                                        <h5 class="card-title">DESEMPENHO AORUS</h5>
                                        <p class="card-text">As placas-mãe da série AORUS 400 usam o design de
                                            MOSFETs Hybrid Digital PWM + RDS mais baixo (on) para oferecer suporte
                                            aos processadores AMD Ryzen, oferecendo incrível precisão na
                                            distribuição de energia nos componentes que são mais sensíveis à
                                            energia.</p>
                                    </div>
                                </div>
                                <!-- Fechamento da tag card-group -->
                            </div>

                            <!-- Card-White -->
                            <!-- Conteúdo do corpo do card -->
                            <div class="card-group">
                                <div class="card col-md-6 card-white">
                                    <div class="card-body">
                                        <h5 class="card-title">ARMAZENAMENTO</h5>
                                        <p class="card-text">A solução M.2 da GIGABYTE oferece desempenho de
                                            armazenamento consideravelmente mais rápido e suporte para interfaces
                                            PCIe e SATA para dispositivos SSD M.2.</p>
                                    </div>
                                </div>
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-white">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/06-GigabyteB450AorusM03.jpg"
                                        alt="Imagem da placa mãe na parte de armazenamento">
                                </div>
                                <!-- Fechamento da div card-group - card-white -->
                            </div>

                            <!-- Conteúdo do corpo do card-black -->
                            <div class="card-group">
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-black">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/07-GigabyteB450AorusM-04.jpg"
                                        alt="Imagem da placa mãe em conectividade">
                                </div>
                                <div class="card col-md-6 card-black">
                                    <div class="card-body">
                                        <h5 class="card-title">CONECTIVIDADE</h5>
                                        <p class="card-text">O chipset da série AMD 400 fornece portas USB 3.1 Gen2
                                            nativas com velocidades de até 10 Gbps. Disponível através do conector
                                            USB Tipo A, o USB3.1 Gen2 é muito melhorado com o dobro da largura de
                                            banda em comparação com a geração anterior.</p>
                                    </div>
                                </div>
                                <!-- Fechamento da tag card-group -->
                            </div>

                            <!-- Card-White -->
                            <!-- Conteúdo do corpo do card -->
                            <div class="card-group">
                                <div class="card col-md-6 card-white">
                                    <div class="card-body">
                                        <h5 class="card-title">SMART FAN 5</h5>
                                        <p class="card-text">Com o Smart Fan 5, os utilizadores podem garantir que o
                                            seu PC de jogos pode manter o seu desempenho. O Smart Fan 5 permite que
                                            os usuários troquem seus conectores para refletir diferentes sensores
                                            térmicos em diferentes locais da placa-mãe.</p>
                                    </div>
                                </div>
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-white">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/08-GigabyteB450AorusM05.jpg"
                                        alt="Imagem do smart FAN">
                                </div>
                                <!-- Fechamento da div - card-group - card-white -->
                            </div>

                            <!-- Conteúdo do corpo do card-black -->
                            <div class="card-group">
                                <!-- Inserindo imagem no card-group -->
                                <div class="card col-md-6 card-black">
                                    <img class="card-img-top"
                                        src="/img/01-placaMaeAourusB550M/09-GigabyteB450AorusM06.jpg"
                                        alt="Imagem da placa mãe mostrando os áudios.">
                                </div>
                                <div class="card col-md-6 card-black">
                                    <div class="card-body">
                                        <h5 class="card-title">ÁUDIO DE ALTA QUALIDADE</h5>
                                        <p class="card-text">Oferece resolução e expansão de som de alta qualidade para
                                            criar os efeitos
                                            sonoros
                                            mais realistas para jogadores profissionais.</p>
                                    </div>
                                </div>
                                <!-- Fechamento da tag card-group -->
                            </div>
                            <!-- Fim da div card-body -->
                        </div>
                    </div>
                </div>

                <!-- Card - Especificações Técnicas -->
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Especificações Técnicas
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <!-- Conteúdo - Especificações técnicas -->
                            <div class="tecnicas">
                                <p>
                                    <strong>Marca:</strong>
                                    <br>
                                    Gigabyte
                                </p>

                                <p>
                                    <strong>Modelo:</strong>
                                    <br>
                                    B450 AORUS M - Rev 1.0
                                </p>

                                <p>
                                    <strong>Processador:</strong>
                                    <br>
                                    Soquete AM4:
                                    <br>
                                    Processadores AMD Ryzen 2nd Generation
                                    <br>
                                    Processadores AMD Ryzen com Radeon Vega Graphics
                                    <br>
                                    Processadores AMD Ryzen 1st Generation
                                </p>

                                <p>
                                    <strong>Chipset:</strong>
                                    <br>
                                    AMD B450
                                </p>

                                <p>
                                    <strong>Memória:</strong>
                                    <br>
                                    4 x soquetes DDR4 DIMM suportando até 64 GB de memória do sistema.
                                    <br>
                                    Arquitetura de memória Dual channel
                                    <br>
                                    Suporte para módulos de memória DDR4 3200(O.C.)/2933/2667/2400/2133 MHz
                                    <br>
                                    Suporte para módulos de memória DIMM 1Rx8/2Rx8 memory modules (operate in non-ECC
                                    mode)
                                    <br>
                                    Suporte para módulos de memória DIMM 1Rx8/2Rx8/1Rx16 memory modules
                                    <br>
                                    Suporte para módulos de memória com Extreme Memory Profile (XMP)
                                </p>

                                <p>
                                    <strong>Slots de Expansão:</strong>
                                    <br>
                                    1 x PCI Express x16 slot, running at x16 (PCIEX16)(Note)* Para melhor performance,
                                    se apenas uma placa gráfica PCI Express estiver instalada, instale no slot PCIEX16.
                                    (The PCIEX16 slot conforms to PCI Express 3.0 standard.)
                                    <br>
                                    1 x slot PCI Express x16, um x4 (PCIEX4)
                                    <br>
                                    1 x slot PCI Express x1 (os slots PCIEX4 e PCI Express x1 estão em conformidade com
                                    o padrão PCI Express 2.0).
                                </p>

                                <p>
                                    <strong>Multi-GPU SLI/Crossfire:</strong>
                                    <br>
                                    Suporte para as tecnologias AMD Quad-GPU CrossFire e 2-Way AMD CrossFire
                                </p>

                                <p>
                                    <strong>Armazenamento</strong>
                                    <br>
                                    1 x M.2 connector (Socket 3, M key, type 2242/2260/2280/22110 SATA and PCIe 3.0
                                    x4/x2 SSD support)
                                    <br>
                                    6 x conectores SATA de 6 Gb / s
                                    <br>
                                    Support for RAID 0, RAID 1, and RAID 10
                                    <br>
                                    * Refer to "1-7 Internal Connectors," for the installation notices for the M.2 and
                                    SATA connectors.
                                </p>

                                <p>
                                    <strong>Portas USB:</strong>
                                    <br>
                                    2 x USB 3.1 Gen 2 Type-A ports (red) on the back panel
                                    <br>
                                    2 x USB 3.1 Gen 1 ports available through the internal USB header
                                    <br>
                                    6 x USB 2.0/1.1 ports (2 ports on the back panel, 4 ports available through the
                                    internal USB headers)
                                    <br>
                                    CPU:
                                    <br>
                                    4 x USB 3.1 Gen 1 ports on the back panel
                                </p>

                                <p>
                                    <strong>Audio:</strong>
                                    <br>
                                    Realtek ALC892 codec
                                    <br>
                                    High Definition Audio
                                    <br>
                                    2/4/5.1/7.1-channel
                                    <br>
                                    Support for S/PDIF Out
                                </p>

                                <p>
                                    <strong>LAN (rede):</strong>
                                    <br>
                                    Realtek GbE LAN chip (10/100/1000 Mbit)
                                </p>

                                <p>
                                    <strong>Conectores internos:</strong>
                                    <br>
                                    1 x 24-pin ATX main power connector
                                    <br>
                                    1 x 8-pin ATX 12V power connector
                                    <br>
                                    1 x CPU fan header
                                    <br>
                                    2 x system fan headers
                                    <br>
                                    1 x M.2 Socket 3 connector
                                    <br>
                                    6 x SATA 6Gb/s connectors
                                    <br>
                                    1 x CPU cooler LED strip/RGB LED strip header
                                    <br>
                                    1 x RGB (RGBW) LED strip header
                                    <br>
                                    2 x digital LED strip headers
                                    <br>
                                    2 x digital LED strip power select jumpers
                                    <br>
                                    1 x front panel header
                                    <br>
                                    1 x front panel audio header
                                    <br>
                                    1 x S/PDIF Out header
                                    <br>
                                    1 x USB 3.1 Gen 1 header
                                    <br>
                                    2 x USB 2.0/1.1 headers
                                    <br>
                                    1 x Trusted Platform Module (TPM) header (2x10 pin, for the GC-TPM2.0 module only)
                                    <br>
                                    1 x serial port header
                                    <br>
                                    1 x parallel port header
                                    <br>
                                    1 x Clear CMOS jumper
                                </p>

                                <p>
                                    <strong>Portas traseiras:</strong>
                                    <br>
                                    1 x PS/2 keyboard/mouse port
                                    <br>
                                    1 x DVI-D port
                                    <br>
                                    1 x HDMI port
                                    <br>
                                    2 x USB 3.1 Gen 2 Type-A ports (red)
                                    <br>
                                    4 x USB 3.1 Gen 1 ports
                                    <br>
                                    2 x USB 2.0/1.1 ports
                                    <br>
                                    1 x RJ-45 port
                                    <br>
                                    6 x audio jacks
                                </p>

                                <p>
                                    <strong>Dimensões:</strong>
                                    <br>
                                    Formato Micro ATX 24,4 cm x 21,5 cm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Avaliações dos Clientes
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                            richardson ad
                            squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                            quinoa
                            nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                            craft
                            beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                            butcher
                            vice
                            lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                            you
                            probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fechamento Características do produto - detalhes -->
        </div>

        <!-- Div com produtos sugeridos -->
        <div class="suggestions">
            <h4 id="title-suggestions">Veja Também!</h4>

            <!-- Imagens da sugestão de produtos -->

            <div class="card-group">
                <div class="card cad-suggestions">
                    <img class="card-img-top"
                        src="/img/02-suggestions/01-ssd-adata-su650-120gb-sata-iii-leitura-520mbs-e-gravacao-450mbs-asu650ss-120gt-r_83669.jpg"
                        alt="SSD ADATA 120GB">
                    <div class="card-body">
                        <h5 class="card-title">SSD Adata SU650, 120GB, Sata III, Leitura 520MBs e Gravação 450MBs,
                            ASU650SS-120GT-R</h5>
                        <p class="card-text">

                            R$ 209,90
                            <small>à vista no boleto</small>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Adicionar ao carrinho</button>
                </div>
                <div class="card cad-suggestions">
                    <img class="card-img-top"
                        src="/img/02-suggestions/02-fonte-redragon-rgps-500w-80-plus-bronze-pfc-ativo-gc-ps001_92749.jpg"
                        alt="Imagem da font Redragon 500w">
                    <div class="card-body">
                        <h5 class="card-title">Fonte Redragon RGPS 500W, 80 Plus Bronze, PFC Ativo, GC-PS001</h5>
                        <p class="card-text">
                            R$ 279,90
                            <small>à vista no boleto</small>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Adicionar ao carrinho</button>
                </div>
                <div class="card cad-suggestions">
                    <img class="card-img-top"
                        src="/img/02-suggestions/03-combo-gamer-teclado-mouse-e-mousepad-redragon-s107_139496.jpg"
                        alt="Combo gamer">
                    <div class="card-body">
                        <h5 class="card-title">Combo Gamer Teclado, Mouse e Mousepad, Redragon S107</h5>
                        <p class="card-text">
                            R$ 229,00
                            <small>à vista no boleto</small>
                        </p>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Adicionar ao carrinho</button>
                </div>
            </div>

            <!-- Fechamento da div suggestions -->
        </div>
        <!-- Fim da div container -->
    </div>

<%- include("./partials/footer") %>