<%- include("./partials/head")  %> 
<%- include("./partials/header-adm") %>

<main id="main-product-adm-detail">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="detail-product-adm">Visualizar Produto</h1>
      </div>
      <% if(locals.product) { %> 
      <div class="col">
          <img src="<%= product.urlImage %>" alt="imagem do produto"><br>
          <span>Modelo: <%= product.name %> </span><br>
          <span>Categoria: <%= product.category %> </span><br>
          <span>Marca: <%= product.brand %> </span><br>
          <span>Preço: <%= product.price %> </span><br>
          <span>Estoque: <%= product.inventory %> </span><br>
          <span>Disponível: <%= product.available %> </span><br>
        </div>
      <% } else { %>
        <h2>Produto não encontrado</h2>
      <% } %>  
      </div>
      
  </div>
</main>

<%- include("./partials/footer") %>