<%- include("./partials/head") %>
<%- include("./partials/header-adm") %>

<main>
  <h1>Atualizar produto</h1>
  <% if(locals.error) { %>
    <h2><%= error.message %> </h2>
  <% } %>
  <form action="/product-adm/product-edit/<%= product.id %>?_method=put" method="POST">
    <input value="<%= product.modelo %>" type="text" name="modelo" placeholder="Modelo">
    <input value="<%= product.marca %>" type="text" name="marca" placeholder="Marca">
    <input value="<%= product.categoria %>" type="text" name="categoria" placeholder="Categoria">
    <input value="<%= product.estoque %>" type="number" name="estoque" placeholder="Estoque">
    <button type="submit">Atualizar</button>
  </form>
</main>
 
<%- include("./partials/footer") %>