<%- include("./partials/head")  %> 
<%- include("./partials/header-adm") %>

<main>
  <h1>Deletar Produto</h1>
  <% if(locals.product) { %> 
    <div>
      <img src="" alt="imagem do produto"><br>
      <span>Modelo: <%= product.modelo %> </span><br>
      <span>Marca: <%= product.marca %> </span><br>
      <span>Categoria: <%= product.categoria %> </span><br>
      <span>Estoque: <%= product.estoque %> </span>
    </div>
    <form action="/product-adm/product-delete/<%= product.id %>?_method=delete" method="post">
      <h2>Deseja deletar esse produto?</h2>
      <a href="/product-adm"><button type="button">Não</button></a>
      <button type="submit">Sim</button>
    </form>
  <% } else { %>
    <h2>Produto não encontrado</h2>
  <% } %>
</main>

<%- include("./partials/footer") %>