<%- include("./partials/head") %>
<%- include("./partials/header") %>
<main id="user">
  <h1>Visualizar usuário</h1>
  <% if(locals.user){ %>
    <div>
      <!-- <img src="<%= user.avatar %>" alt="avatar"/> -->
      <span><%= user.nome %> <%= user.sobrenome %></span>
      <span><%= user.email %></span>
      <span><%= user.idade %></span>
    </div>
  <% } else {%>
    <h2 class="error-alert">Usuário não encontrado por motivos do além</h2>
  <% } %>
</main>
<%- include("./partials/footer") %>